@model  Uark_Exam.ViewModal.LoginModal

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Create Member</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/Common")
    @Styles.Render("~/Content/datetimepicker")
</head>
<body>
<div>
    @using (Html.BeginForm("CreateMember", "Uark", FormMethod.Post))
    {
        <div class="container-fluid" style="width:90%">
            <div class="form-horizontal">
                <div class="panel panel-info">
                    <div class="panel-heading">Create Member</div>

                    <div class="panel-body">
                        <div class="form-group">
                            
                        </div>
                    </div>
                    <div class="panel-footer text-left">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>

                </div>
            </div>
        </div>
    }
</div>
</body>
</html>